#thefile {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 100;
}

#canvas {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

audio {
  position: fixed;
  left: 10px;
  bottom: 10px;
  width: 200px;
}
.menu{
	position: fixed;
	width: 400px;
	height: 100%;
	right: -400px;
	transition: 0.2s;
	z-index: 100;
	top: 0px;
	background-color: rgba(36,123,160,0.6);
	overflow-y: scroll;
	display: flex;
	flex-direction: column;
	padding-top: 20px;
}
.menu:hover{
	right: 0px;
}
.menu div{
	cursor: pointer;
	width: 100%;
	height: 30px;
	color: white;
	font-size: 18px;
	padding-left: 20px;
	display: flex;
	align-content: center;
	align-items: center;
	transition: 0.2s;
	font-family: 'Ubuntu', sans-serif;
	z-index: 100;
}
.menu div:hover{
	color: #FFE066;
}
.menu div.active{
	color: #FFE066;
}
.openMenu{
	width: 100px;
	height: 100%;
	position: fixed;
	z-index: 10;
	right: 0px;
}
.openMenu:hover ~ .menu{
	right: 0px;
}
.help{
	position: fixed;
	top: 20px;
	color: white;
	font-size: 20px;
	white-space: nowrap;
	width: 100%;
	text-align: center;
	transition: 0.2s;
}
.help.hide{
	top: -100px;
}
